.git
.gitignore
.venv
.vscode
.DS_Store
.env
node_modules
frontend
docker-compose.yml
start.sh
package.json
package-lock.json

backend/.env
backend/notebooks
backend/data/raw
backend/__pycache__
backend/.DS_Store

**/__pycache__
**/*.pyc
