@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  @apply bg-slate-950 text-white antialiased;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 10;
}