@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  @apply bg-slate-950 text-white antialiased;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 10;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}